.App {
  text-align: left;
  background-color: #282c34;
  display: grid;
  grid-template-columns: 35% 10% 65%;
  grid-template-rows:  minmax(0, 1fr) minmax(auto, 1fr) 25vh 25vh;
  padding-left: 5%;
  align-items: start;
  grid-gap: 10px;
  height: 100vh;
  overflow: hidden;
}

iframe {
  border: none;
  width: 100vw;
  height: 100vh;
}

.visible {
  display: block;
  position: absolute;
}

.hidden {
  display: none;
}

.button:hover {
  border-color: white;
  cursor: pointer;
}



.nervos-green-text {
  color: #3cc68a;
}

.nervos-green-border {
  border-color: #3cc68a;
  border-width: 3px;
}

.toggle-button {
  max-width: 200px;
}

.toggle-cell{
  align-self: start;
  color: white;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: calc(10px + 1vmin);
  margin-left: -5%;
  max-height: 100%;

}

.toggle-cell .submitter {
  border-style: solid;
  border-color: #3cc68a;
  border-width: 2px;
  height: 5vh;
  padding: 5px;
}

.toggle-cell p {
  display: block;
}

.token-form-container {
  border-color: #3cc68a;
  border-width: 3px;
  color: white;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border-color: #3cc68a;
  border-width: 3px;
  border-style: solid;
  padding: 5px;
  font-size: calc(10px + 1vmin);
  display: flex;
  justify-content: flex-start;
  min-height: 0;

  flex-wrap: wrap;
  margin-left: -5%;
  width: 400px;


}

.token-form-container input {
  display: block;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  color: #3cc68a;
  background-color: #282c34;
  min-width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;

}

.token-form-container button {
  display: block;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  color: #3cc68a;
  background-color: #282c34;
  min-width: 50%
}

.token-form-container label {
  margin-top: 3px;
}

.token-form-container input[type="text"] {
  border-color: white;
}

.token-form-container input[type="text"] {
  border-color: white;
}
.token-form-container input[type="submit"]:hover {
  color:white;
}

.select-menu {
  display: block;
  margin: 10px 0 15px 0;
  background-color: #282c34;
  color: #3cc68a;
  padding: 5px;
  border-color: white;
}

select option:active, select option:hover {
  outline: none
}

.submitter:hover {
  cursor: pointer;
  border-color: white;
}


.outpoint {
  border-color: #3cc68a;
  border-width: 3px;

}


.toggle:hover {

  cursor: pointer;
}

.active {
    color: #3cc68a;
}
.cell {
  color: white;
  border-style: solid;
  border-color: #3cc68a;
  border-width: 3px;
  padding: 5px;
  width: 50%;
  margin-bottom: 5px;
  overflow: auto;
}

.cells-container {
  grid-column: 3 / 4;
  display:flex;
  flex-direction: column;
  margin-top: 5%;
  color: white;
}

.cell-type-title {
  text-decoration: underline;
}

.App-header {
  min-height: 25vh;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: calc(10px + 3vmin);
  color: white;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-left: -10%;

}

.Error {
  color: #cf4c47;
}

.Success {
  color: #00ff00;
}

.Wallet {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 50vh auto auto;
  grid-template-columns: auto 50vw auto;
}



.Wallet-header {
  color: white;
  font-size: calc(10px + 3vmin);
  grid-column: 2/3;
}

.Wallet-header .button-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;


}
.Wallet-logo {
  pointer-events: none;
  justify-self: center;
}


.button {
  font-size: calc(10px + 1vmin);
  display: inline-block;
  border-style: solid;
  width: 150px;
  max-height: 150px;
  border-color: #282c34;
  margin: 10px;
  padding-top: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation-duration: 5s;
    animation-name: App-logo-spin;

  }
}





.code-cell {

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(45deg);
  }

  75% {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(0deg);
  }
}
