[submodule "server/deps/ckb-js-toolkit-contrib"]
  path = server/deps/ckb-js-toolkit-contrib
  url = https://github.com/wilfredTA/ckb-js-toolkit-contrib
[submodule "server/deps/ckb-miscellaneous-scripts/deps/secp256k1"]
	path = server/deps/ckb-miscellaneous-scripts/deps/secp256k1
	url = https://github.com/nervosnetwork/secp256k1
[submodule "server/deps/ckb-miscellaneous-scripts/deps/ckb-c-stdlib"]
	path = server/deps/ckb-miscellaneous-scripts/deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib
[submodule "ckb-js-toolkit-contrib"]
	path = ckb-js-toolkit-contrib
	url = https://github.com/WilfredTA/ckb-js-toolkit-contrib
[submodule "keyper-bridge/deps/keyper"]
	path = keyper-bridge/deps/keyper
	url = https://github.com/ququzone/keyper
[submodule "keyper-web-wallet/packages/wallet/deps/keyper"]
	path = keyper-web-wallet/packages/wallet/deps/keyper
	url = https://github.com/ququzone/keyper
