node_modules/
server/node_modules
client/node_modules
build/
server/deps/ckb-miscellaneous-scripts/build
server/package-lock.json
server/chain_deps.json
server/tx_log.json
wallet/deps/keyper-web-wallet/node_modules
wallet/deps/keyper-web-wallet/packages/wallet/node_modules
wallet/deps/keyper-web-wallet/packages/wallet/deps/keyper/node_modules
wallet/deps/keyper-bridge/node_modules
wallet/deps/keyper-bridge/deps/keyper/node_modules
client/deps/keyper-bridge/node_modules
client/deps/keyper-bridge/deps/keyper/node_modules
README.md

*.log
